.max-height {
  max-height: 480px !important;
}
.yb-align {
  text-align: center;
}
nav,
footer {
  background-color: var(--bg-panel) !important;
}
.navbar-brand,
.nav-link,
footer a,
h3 {
  color: var(--color-text-panel) !important;
}

.navbar-brand,
.nav-link {
  text-transform: uppercase;
  padding: 10px 15px 0 15px !important;
}
.navbar-brand {
  font-weight: bold;
}
.nav-link:hover {
  border-top: 3px solid var(--color-navbar-link);
}
.navbar-toggler-icon {
  filter: var(--burger-color);
}
.navbar-toggler {
  border-color: transparent !important;
}

.toggle-container {
  margin-right: 0;
  padding-top: 7px;
}

.psDarkcheckBox[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.psLabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--color-bg-switch);
  float: right;
  border-radius: 100px;
  position: relative;
}

.psLabel:after {
  content: "" !important;
  position: absolute !important;
  top: 3px !important;
  left: 3px !important;
  width: 20px !important;
  height: 20px !important;
  background: var(--color-switch) !important;
  border-radius: 90px !important;
  transition: 0.3s !important;
}

.psDarkcheckBox:checked + .psLabel {
  background: var(--color-bg-switch) !important;
}

.psDarkcheckBox:checked + .psLabel:after {
  left: calc(100% - 5px) !important;
  transform: translateX(-100%) !important;
}

.psLabel:active:after {
  width: 45px !important;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

header {
  border-bottom: 3px solid var(--bg-panel);
  margin-bottom: 2%;
}
/* nav */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  color: var(--color-text);
}

body {
  background-color: var(--bg) !important;
}

main,
.containerP,
.containerPDeux {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  line-height: 1.6em;
}

h2 {
  text-align: center;
  font-size: 3em !important;
  margin-top: 10px !important;
  font-family: "Montserrat", sans-serif;
}

/* paul */
.psComment {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  color: var(--color-text);
}
.psViePerso {
  text-align: center;
  box-shadow: 10px 10px 5px -4px var(--color-b-shadow);
  border-radius: 15px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: 4% 0 5% 0;
  color: var(--color-text-panel);
}
.card {
  text-align: center;
  margin-top: 1%;
  background-color: var(--bg-panel) !important;
  border-radius: 15px !important;
  min-width: 250px !important;
}
.psCard {
  border: none !important;
}
.psImgTop {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em !important;
  color: var(--color-text-panel);
}
.card-text {
  text-align: justify;
  color: var(--color-text-panel);
  margin-left: 15%;
  margin-right: 15%;
}

a.psButton {
  background-color: var(--bg-button);
  border-color: var(--bg-button);
  color: var(--text-button);
  font-weight: 800;
}
a.psButton:hover {
  background-color: var(--bg-hov-but);
  border-color: var(--bg-hov-but);
  color: var(--bg-button);
  font-weight: 800;
}
a.psButton:active {
  background-color: var(--bg-hov-but);
  border-color: var(--bg-hov-but);
  color: var(--bg-button);
}

/* samir */

.exp {
  margin-left: 3% !important;
  margin-right: 3% !important;
}

.Portfolio {
  justify-content: center;
  margin-left: 2% !important;
  margin-right: 2% !important;
}
.pstitreSa {
  font-family: "Montserrat", sans-serif;
  color: var(--color-navbar-link) !important;
}
.as_card {
  overflow: hidden;
  z-index: 1;
  box-shadow: 10px 10px 5px -4px var(--color-b-shadow);
  max-width: 500px !important;
  min-width: 450px !important;
}
.as_card img {
  position: relative !important;
}
.as_card .as_body {
  position: absolute;
  bottom: -120%;
  width: 100%;
  height: 100%;
  background: rgba(82, 82, 83, 0.8);
  padding: 0.5% 10%;
  text-align: left;
  transition: 0.5s;
  z-index: 2;
}
.as_card .as_body a {
  position: absolute !important;
  top: -25px;
  left: 75%;
}
.as_card:hover .as_body {
  bottom: -80%;
}

/* contact */
.contact {
  padding: 2% 0 3% 0;
}
.yb-contact img {
  background-size: cover;
}
.yb-card {
  max-height: 200px;
}
/* footer */

footer div {
  display: flex !important;
  align-items: center;
}
footer div:last-of-type {
  padding-right: 5%;
}
footer {
  display: flex !important;
  z-index: 1 !important;
  align-items: center;
  padding: 2% 0;
}
footer ul {
  display: inline-block;
  margin-left: 5%;
}
footer ul,
footer li {
  background-color: var(--bg-panel);
}
img.footChild {
  float: right;
  height: 100px;
  margin-left: 20vw;
}
.testCopyright {
  text-align: center;
  margin: -25px 10px 0 0;
  z-index: 5;
  color: var(--color-text-panel);
  font-size: 0.8em;
}
.fab {
  color: var(--color-text-panel);
  font-size: 1.2em;
}
.fab:hover {
  color: var(--color-navbar-link);
}
.team li {
  text-align: center;
  color: var(--color-text-panel);
}

.yb-links ul {
  margin-bottom: 20px;
}
.yb-links li {
  margin: 10px 0;
}
.psName {
  color: var(--color-text-panel) !important;
}
.psName:hover {
  color: var(--color-navbar-link) !important;
}

footer a {
  text-decoration: none !important;
}
footer a:hover {
  color: var(--color-navbar-link) !important;
}

@media screen and (max-width: 700px) {
  .lsCopyr {
    display: none;
  }
  footer img {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  span.psName {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .navbar-brand {
    flex: auto;
  }
  .navbar {
    justify-content: flex-end;
  }
  .psName {
    display: none;
  }
}
@media screen and (min-width: 701px) {
  .msCopyr {
    display: none;
    text-align: right;
  }
}
/* !! pour le switch !!*/

html {
  --bg: #efefef !important;
  --bg-panel: #222f3e !important;
  --color-text-panel: #ced6e0 !important;
  --color-switch: #222f3e !important;
  --color-text: #222f3e;
  --color-bg-switch: #efefef !important;
  --burger-color: invert(100%);
  --bg-button: #e37d95 !important;
  --text-button: #222f3e !important;
  --bg-hov-but: #efefef !important;
  --color-b-shadow: #333 !important;
  --color-navbar-link: #efefef !important;
}

html[data-theme="dark"] {
  --bg: #222f3e !important;
  --bg-panel: #ced6e0 !important;
  --color-text-panel: #222f3e !important;
  --color-switch: #e37d95 !important;
  --color-bg-switch: #222f3e !important;
  --color-text: #efefef;
  --color-text: #efefef;
  --burger-color: invert(0%);
  --bg-button: #222f3e !important;
  --text-button: #e37d95 !important;
  --bg-hov-but: #e37d95 !important;
  --color-b-shadow: #ad5f72 !important;
  --color-navbar-link: #e37d95 !important;
}
.samirColor {
  color: #222f3e;
}
